.kunderLogo{
    margin-left: 30px;
    height: 21px;
}

.telecom{
    color: map-get($customTextColors, telecom);
    font-size: 18px;
}

.menuButton{
    height: 56px;
    width: 56px;
}

.menuIcon{
    height: 10px;
    width: 16px;
}