.kunderLogo{
    margin-left: 31px;
    height: 21px;
}

.telecom{
    color: map-get($customTextColors, telecom);
    font-size: 18px;
}

.menuButton{
    margin: 0;
    height: 56px;
    width: 56px;
}

.menuIcon{
    height: 10px;
    width: 16px;
}

.no-padding{
    padding: 0;
}

.toolbar-title-md {
    padding: 0;
}