home {

    ion-content{
        height: 100%;
        width: 100%;

        .smartphoneLogo{
            position: relative;
            min-height: 207px;
            height: 32.9vh;
            background-color: map-get($colors, secondary);
            background-image: url('../assets/imgs/smartphone-logo.svg');
            background-size: 62px 72px;
            background-repeat: no-repeat;
            background-position: center;
        }

        .buttons{
            min-height: 290px;
            height: calc(100vh - 32.9vh - 76px - 56px);
            background-color: map-get($colors, primary);
            font-size: 0;
            
            .buttonsHome{
                min-height: 145px;
                position: relative;
                font-size: 16px;
                padding: 0;
                color: map-get($customTextColors, primary);
                background-color: map-get($colors, primary);
                background-repeat: no-repeat;
                background-position-x: center;
                background-position-y: calc(50% - 1.31em);
                height: calc(50vh - 16.45vh - 36px - 28px);
                width: 50%;
            }

            .buttonConsumo{
                background-image: url('../assets/imgs/i-up-down-arrows.svg');
                background-size: 1.3125em 1.9375em; // 21 31 
            } 
            .buttonPlan{
                background-image: url('../assets/imgs/i-smartphone.svg');
                background-size: 1.1875em 2.0625em; // 19 33
            }
            .buttonBolsas{
                background-image: url('../assets/imgs/i-shop-bag.svg');
                background-size: 2em 2em; // 32 32
            }
            .buttonBeneficios{
                background-image: url('../assets/imgs/i-star.svg');
                background-size: 2em 1.875em; //32 30
            }

            span{
                display: block;
                margin: auto;
                margin-top: 8vh;
            }

            .borderTop{
                border-top: solid 2px rgb(233, 233, 233);
            }

            .borderLeft{
                border-left: solid 2px rgb(233, 233, 233);
            }

        }

        .scroll-content{
            overflow-y: auto;
        }

    }

}

