home {

    ion-header{

        // background-color: map-get($colors, primary);
        // ion-navbar, ion-title, ion-buttons, button{
        //     background-color: map-get($colors, primary);
        // }
    
        .kunderLogo{
            margin-left: 30px;
            height: 21px;
        }
    
        .telecom{
            color: map-get($customTextColors, telecom);
            font-size: 18px;
        }
    
        .menuButton{
            height: 56px;
            width: 56px;
        }
    
        .menuIcon{
            height: 10px;
            width: 16px;
        }
    
    }

    ion-content{
        height: 100%;
        width: 100%;

        .banner{
            position: relative;
            height: 41.6%;
            background-color: map-get($colors, secondary);

            .smartphoneLogo{
                position: absolute;
                left: calc(50% - 31px);
                top: calc(50% - 36px);
                height: 72px;
                width: 62px;
                margin: auto;
            }
        }

        .buttons{
            height: 58.4%;
            background-color: map-get($colors, primary);
            font-size: 16px;
            color: map-get($customTextColors, primary);

            table{
                height: 100%;
                width: 100%;

                tr{
                    height: 50%;
                    width: 100%;

                    td{
                        text-align: center;
                        width: 50%;

                        .customIcon{
                            display: block;
                            height: 40px;
                            width: 40px;
                            margin: auto;
                        }

                        span{
                            display: block;
                            margin-top: 16px;
                        }
                    }
                }

                .borderTop{
                    border-top: solid 2px rgb(233, 233, 233);
                }

                .borderLeft{
                    border-left: solid 2px rgb(233, 233, 233);
                }
            }

        }

        .scroll-content{
            overflow-y: auto;
        }

    }

    ion-footer.customFooter{
        background-color: map-get($colors, dark);
        height: 76px;
        color: map-get($customTextColors, footer);
        font-size: 12.5px;
        padding: 31.75px 0;

        a{
            padding: 0 10px;
        }

        .footerWrapper{
            display: block;
            margin: auto;
            text-align: center;
            margin-left: -8px;
        }
    }


}

