<!-- Generated template for the HomeComponent component -->
<ion-header>
    <ion-navbar class="no-padding">
      <ion-title>
        <img src="assets/imgs/kunder-logo.svg" class="kunderLogo">
        <span class="telecom">telecom</span>
      </ion-title>
      <ion-buttons end>
        <button ion-button icon-only clear class="menuButton">
          <img src="assets/imgs/i-menu.svg" class="menuIcon">
        </button>  
      </ion-buttons>
    </ion-navbar>
  </ion-header>
<ion-content no-padding scroll="false">
  <div class="smartphoneLogo">
  </div>
  <div class="buttons">
    <div class="rowTop">
      <button class="buttonsHome buttonConsumo">
        <span>Consumo</span>
      </button>
      <button class="buttonsHome buttonPlan borderLeft">
        <span>Mi Plan</span>
      </button>
    </div>
    <div class="rowTop">
      <button class="buttonsHome buttonBolsas borderTop">
        <span>Mis bolsas</span>
      </button>
      <button class="buttonsHome buttonBeneficios borderTop borderLeft">
        <span>Beneficios</span>
      </button>
    </div>
  </div>
</ion-content>
<ion-footer class="customFooter">
      <a class="shuffleRight">Sucursales</a>
      <a class="shuffleLeft">Consultas</a>
</ion-footer>