<!-- Generated template for the HomeComponent component -->
<ion-header>
    <ion-navbar>
      <ion-title class="kunderLogo">
        <span class="telecom">telecom</span>
      </ion-title>
      <ion-buttons end>
        <button ion-button icon-only clear class="menuButton"></button>  
      </ion-buttons>
    </ion-navbar>
  </ion-header>
<ion-content no-padding scroll="false">
  <div class="header">
  </div>
  <div class="buttons">
    <button class="buttonsHome buttonConsumo">
      <span>Consumo</span>
    </button>
    <button class="buttonsHome buttonPlan">
      <span>Mi Plan</span>
    </button>
    <button class="buttonsHome buttonBolsas">
      <span>Mis bolsas</span>
    </button>
    <button class="buttonsHome buttonBeneficios">
      <span>Beneficios</span>
    </button>
  </div>
</ion-content>
<ion-footer class="information-footer">
      <a class="shuffleLeft">Sucursales</a>
      <a class="shuffleRight">Consultas</a>
</ion-footer>