home {

    ion-content{
        height: 100%;
        width: 100%;

        .banner{
            position: relative;
            height: 41.6%;
            background-color: map-get($colors, secondary);

            .smartphoneLogo{
                position: absolute;
                left: calc(50% - 31px);
                top: calc(50% - 36px);
                height: 72px;
                width: 62px;
                margin: auto;
            }
        }

        .buttons{
            height: 58.4%;
            background-color: map-get($colors, primary);
            font-size: 16px;
            color: map-get($customTextColors, primary);

            table{
                height: 100%;
                width: 100%;

                tr{
                    height: 50%;
                    width: 100%;

                    td{
                        text-align: center;
                        width: 50%;

                        .customIcon{
                            display: block;
                            height: 40px;
                            width: 40px;
                            margin: auto;
                        }

                        span{
                            display: block;
                            margin-top: 16px;
                        }
                    }
                }

                .borderTop{
                    border-top: solid 2px rgb(233, 233, 233);
                }

                .borderLeft{
                    border-left: solid 2px rgb(233, 233, 233);
                }
            }

        }

        .scroll-content{
            overflow-y: auto;
        }

    }

}

