<!-- Generated template for the HomeComponent component -->
<ion-header>
    <ion-navbar class="no-padding">
      <ion-title>
        <img src="assets/imgs/kunder-logo.svg" class="kunderLogo">
        <span class="telecom">telecom</span>
      </ion-title>
      <ion-buttons end>
        <button ion-button icon-only clear class="menuButton">
          <img src="assets/imgs/i-menu.svg" class="menuIcon">
        </button>  
      </ion-buttons>
    </ion-navbar>
  </ion-header>
<ion-content no-padding scroll="false">
  <div class="banner">
    <img src="assets/imgs/smartphone-logo.svg" class="smartphoneLogo">
  </div>
  <div class="buttons">
    <table>
      <tr>
        <td>
          <img src="assets/imgs/i-up-down-arrows.svg" class="customIcon">
          <span>Consumo</span>
        </td>
        <td class="borderLeft">
          <img src="assets/imgs/i-smartphone.svg" class="customIcon">
          <span>Mi Plan</span>
        </td>
      </tr>
      <tr>
          <td class="borderTop">
            <img src="assets/imgs/i-shop-bag.svg" class="customIcon">
            <span>Mis bolsas</span>
          </td>
          <td class="borderTop borderLeft">
            <img src="assets/imgs/i-star.svg" class="customIcon">
            <span>Beneficios</span>
          </td>
        </tr>
    </table>
  </div>
</ion-content>
<ion-footer class="customFooter">
  <div class="footerWrapper">
      <a>Sucursales</a>
      <span>|</span>
      <a>Consultas</a>
  </div>
</ion-footer>