<div *ngIf="1" class="flex-md-row-reverse">
    {{products?.show}}
    <br> {{products?.backgroundImg}}
    <br> {{products?.productImg}}
    <br> {{products?.type}}
    <br> {{products?.buttonText}}
    <br> {{products?.productId}}
    <br> {{products?.productImg}}
    <br> {{products?.productName}}
    <br> {{products?.productDescription}}
</div>
<!-- <div [ngStyle]="{'background-image': 'url('+ data.product?.backgroundImg +')'}" id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block" width="500" height="600" src="{{data.product?.productImg}}">
        </div>
    </div>
</div> -->
<div>

</div>
<div *ngIf="bannerType(); else productTemplate">
    <div [ngStyle]="{'background-image': 'url('+ products?.backgroundImg +')'}" class="img-fluid">
        <div>
            <br>
        </div>
    </div>
</div>
<ng-template #productTemplate>
    <div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block" width="500" height="600" src="{{products?.productImg}}">
            </div>
        </div>
    </div>
</ng-template>
<!-- Try style="background-image:url({{ image.getURL() }})"
"{background: 'url(/img/' + item.img + ')', width: '200px', height: '150px'" -->