<div class="flex-md-row-reverse">
    {{products?.show}}
    <br> {{products?.backgroundImg}}
    <br> {{products?.productImg}}
    <br> {{products?.type}}
    <br> {{products?.buttonText}}
    <br> {{products?.productId}}
    <br> {{products?.productImg}}
    <br> {{products?.productName}}
    <br> {{products?.productDescription}}
</div>
<div *ngIf="bannerVisible()">
    <div *ngIf="bannerType(); else productTemplate">
        <div [ngStyle]="{'background-image': 'url('+ products?.backgroundImg +')'}" class="main">
            <div class="container">
                <div class="fadeIn d-flex justify-content-center">
                    <div class="row justify-content-center abs-center">
                        <div class="col-6">
                            <h1 style="color: white">{{ products?.productDescription}}</h1>
                        </div>
                        <div class="col-6">
                            <a class="btn btn-light" href="{{products?.link}}">{{products?.buttonText}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #productTemplate>
    <div class="row">
        <div class="col-6">
            <img class="rounded mx-auto d-block" src="{{products?.productImg}}">
        </div>
        <div class="col-6 abs-center">
            <div class="row justify-content-center">
                <h1>{{ products?.productName}}</h1>
                <div class="row">
                    <h3> {{ products?.productDescription }} </h3>
                </div>
            </div>

        </div>
    </div>
</ng-template>