div.main {
    min-height: 70vh;
    width: 100%;
    -webkit-background-size: inherit;
    -moz-background-size: inherit;
    -o-background-size: inherit;
    background-size: inherit;
}

.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
}